/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	scroll-behavior: smooth;
}

:root {
	--main-color: #1D6154;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

html > * {
	width: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	display: flex;
    flex-direction: column;
    align-items: stretch;
	line-height: 1;
	flex: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

.hidden {
	display: none !important;
}

.pointer {
	cursor: pointer !important;
}

.spacer {
	flex: 1;
}

input:not(input[type="submit"]),
textarea {
	width: calc(100% - 40px);
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
	font-size: 1.2em;
}

label {
	width: 100%;
}

input:not(input[type="submit"]) {
	height: 50px;
}

input[type="submit"] {
	width: 180px;
	margin-top: 10px;
	height: 36px;
	background: var(--main-color);
	border: 0;
	border-radius: 100px;
	color: white;
}

body {
	max-width: 1140px;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;
}

#edition-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: black;
	color: white;
	font-size: 16px;
	font-weight: 400;
}

#edition-banner > i {
	font-weight: 400;
}

#add-work-window,
#add-work-window #overlay {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}

#add-work-window #overlay {
	background: rgba(0, 0, 0, 0.3);
}

#add-work-window #gallery-page {
	--hpadding: 75px;
	--vpadding: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 35px;
	position: relative;
	width: calc(630px - calc(var(--hpadding) * 2));
    height: calc(688px - calc(var(--vpadding) * 2));
	padding-left: var(--hpadding);
	padding-right: var(--hpadding);
	padding-top: var(--vpadding);
	padding-bottom: var(--vpadding);
	border-radius: 10px;
	background: white;
	z-index: 100;
}

#add-work-window .close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 1.5rem;
}

#add-work-window h1 {
	font-family: "Work Sans";
	font-size: 26px;
	color: black;
}

#add-work-window #gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	flex: 1;
	max-height: 420px;
	overflow-y: auto;
}

#add-work-window .spacer {
	border-bottom: solid 1px #B3B3B3;
	width: 100%;
}

#add-work-window .work-edit-thumb {
	position: relative;
}

#add-work-window .work-edit-thumb img {
	width: 100%;
	height: 100%;
}

#add-work-window .work-edit-thumb-del {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 17px;
	height: 17px;
	border: 0;
	background: black;
	color: white;
	font-size: 0.6rem;
	border-radius: 2px;
}

#add-work-window #add-work-btn {
	width: 238px;
	height: 36px;
	border-radius: 100px;
	background: var(--main-color);
	border: 0;
	color: white;
	font-family: "Syne";
	font-size: 14px;
	font-weight: 700;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--main-color);
}

nav a {
	text-decoration: none;
	color: #3D3D3D;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li.current {
	font-weight: 600;
}

li:not(.current) {
	cursor: pointer;
}

li:not(.current):hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 120px;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	width: 100%;
	margin-bottom: 30px;
}

#filters .filter-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 37px;
	border-radius: 100px;
	border: solid 2px var(--main-color);
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Syne';
    font-weight: 700;
    font-size: 16px;
    color: var(--main-color);
	background: none;
}

#filters .filter-button:not(.active) {
	cursor: pointer;
}

#filters .filter-button:hover,
#filters .filter-button.active {
	color: white;
	border-color: white;
	background: var(--main-color);
}

#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center
}

#portfolio-title-container {
	position: relative;
}

#portfolio-title-container #portfolio-modify {
	position: absolute;
    right: -110px;
    top: 8px;
	color: #3D3D3D;
}

#portfolio h2 {
	width: fit-content;
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact {
	display: flex;
    flex-direction: column;
    align-items: center;
	width: 50%;
	margin: auto;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: left;
	margin-top:30px;
	width: 380px;
}

#contact form input:not(input[type="submit"]),
#contact form textarea {
	margin-bottom: 20px;
}

#contact label {
	margin: 2em 0 1em 0;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/***** Login *****/
#login {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex: 1;
	width: 100%;
	height: 100%;
	padding-top: 80px;
}

#login-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 380px;
}

#login-form .title {
	color: var(--main-color);
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 30px;
}

#login-form label {
	text-align: left;
	margin-bottom: 10px;
}

#login-form input:not(input[type="submit"]) {
	margin-bottom: 40px;
}

#login-form label,
#login-form #password-reset {
	font-family: "Work Sans";
	color: #3D3D3D;
	font-size: 14px;
	font-weight: 500;
}

#login-form #password-reset {
	margin-top: 30px;
}