:root {
	--main-color: #1D6154;
}

/* ---- Reset default ---- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	align-items: center;
	min-height: 100vh;
}

html>* {
	width: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- General ---- */
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.flexbox {
	display: flex;
}

.flexbox.col {
	flex-direction: column;
}

.fullw {
	width: 100%;
}

.fullh {
	height: 100%;
}

.hidden {
	display: none !important;
}

.pointer {
	cursor: pointer !important;
}

.noscroll {
	overflow-y: hidden !important;
}

.disabled {
	pointer-events: none !important;
	background: #A7A7A7 !important;
}

input:not(input[type="submit"]),
textarea,
select {
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
	font-size: 1.2em;
}

input:not(input[type="submit"]),
select {
	height: 50px;
}

select {
	border-right: 20px solid transparent;
}

input[type="submit"] {
	width: 180px;
	margin-top: 10px;
	height: 36px;
	background: var(--main-color);
	border: 0;
	border-radius: 100px;
	color: white;
}

body {
	align-items: stretch;
	line-height: 1;
	flex: 1;
	max-width: 1140px;
	font-family: 'Work Sans';
	font-size: 14px;
	background: #FFFEF8;
}

header {
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--main-color);
}

nav a {
	text-decoration: none;
	color: #3D3D3D;
}

nav ul {
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li.current {
	font-weight: 600;
}

li:not(.current) {
	cursor: pointer;
}

li:not(.current):hover {
	color: #B1663C;
}

/* ---- Homepage ---- */
#edition-banner {
	justify-content: center;
	align-items: center;
	gap: 12px;
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	background: black;
	color: white;
	font-size: 16px;
	font-weight: 400;
}

#edition-banner > i {
	font-weight: 400;
}

/* Modals */
#modal-container,
#modal-container > #modal-overlay {
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

#modal-container #modal-overlay {
	background: rgba(0, 0, 0, 0.3);
}

#modal-container .modal {
	align-items: center;
	position: relative;
	width: 630px;
	height: 688px;
	padding-top: 55px;
	padding-bottom: 55px;
	border-radius: 10px;
	background: white;
	z-index: 100;
}

#modal-container .modal .back-btn {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 1.5rem;
}

#modal-container .modal .close-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 1.5rem;
}

#modal-container h1 {
	font-family: "Work Sans";
	font-size: 26px;
	font-weight: 400;
	color: black;
	margin-bottom: 35px;
}

#modal-container .content {
	align-items: center;
	justify-content: flex-start;
	gap: 35px;
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom: 35px;
}

#modal-container .modal .separator {
	width: calc(100% - 200px);
	height: 1px;
	border-bottom: solid 1px #B3B3B3;
	margin-bottom: 35px;
}

#modal-container .modal-btn {
	width: 238px;
	height: 36px;
	border-radius: 100px;
	background: var(--main-color);
	border: 0;
	color: white;
	font-family: "Syne";
	font-size: 14px;
	font-weight: 700;
}

/* Gallery modal */
.modal#gallery .gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
}

.modal#gallery .work {
	position: relative;
	aspect-ratio: 3 / 4;
}

.modal#gallery .work img {
	object-fit: cover;
}

.modal#gallery .work-del {
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 17px;
	height: 17px;
	border: 0;
	background: black;
	color: white;
	font-size: 0.6rem;
	border-radius: 2px;
}

.modal#gallery .work-del i {
	pointer-events: none;
}

/* Upload modal */
.modal#upload #upload-container  {
	position: relative;
	flex: 1;
	max-height: 170px;
	padding: 20px;
	background: #E8F1F6;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 3px;
}

.modal#upload #upload-container * {
	pointer-events: none;
}

.modal#upload #upload-container #filepicker-content {
	align-items: center;
	gap: 10px;
}

.modal#upload #upload-container i {
	flex: 1;
	font-size: 70px;
	color: #b9c5cc;
}

.modal#upload #upload-container button {
	width: 174px;
	color: #306685;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 500;
	background: #CBD6DC;
	border: none;
	border-radius: 100px;
	padding: 10px;
}

.modal#upload #upload-container .tips {
	font-family: "Work Sans";
	font-size: 10px;
	font-weight: 400;
}

.modal#upload .input {
	gap: 10px;
	font-family: "Work Sans";
	font-size: 14px;
	font-weight: 500;
}

/* ---- Introduction ---- */
#introduction {
	align-items: center;
	margin-bottom: 120px;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* ---- Filters ---- */
#filters {
	justify-content: center;
	gap: 10px;
	margin-bottom: 30px;
}

#filters .filter-button {
	justify-content: center;
	align-items: center;
	height: 37px;
	border-radius: 100px;
	border: solid 2px var(--main-color);
	padding-left: 20px;
	padding-right: 20px;
	font-family: 'Syne';
    font-weight: 700;
    font-size: 16px;
    color: var(--main-color);
	background: none;
}

#filters .filter-button:not(.active) {
	cursor: pointer;
}

#filters .filter-button:hover,
#filters .filter-button.active {
	color: white;
	border-color: white;
	background: var(--main-color);
}

/* ---- Portfolio ---- */
#portfolio {
	align-items: center
}

#portfolio-title-container {
	position: relative;
}

#portfolio-title-container #portfolio-modify {
	position: absolute;
    right: -110px;
    top: 8px;
	color: #3D3D3D;
}

#portfolio h2 {
	width: fit-content;
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	aspect-ratio: 3 / 4;
	object-fit: cover;
}

/* ---- Contact form ---- */
#contact {
    align-items: center;
	width: 50%;
	margin: auto;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	align-items: center;
	text-align: left;
	margin-top:30px;
	min-width: 380px;
}

#contact form input:not(input[type="submit"]),
#contact form textarea {
	margin-bottom: 20px;
}

#contact label {
	margin: 2em 0 1em 0;
}

/* ---- Footer ---- */
footer nav ul {
	justify-content: flex-end;
	margin: 2em
}


/***** Login *****/
#login {
	justify-content: flex-start;
	align-items: center;
	flex: 1;
	padding-top: 80px;
}

#login-form {
	justify-content: center;
	align-items: center;
	width: 380px;
}

#login-form .title {
	color: var(--main-color);
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 30px;
}

#login-form label {
	text-align: left;
	margin-bottom: 10px;
}

#login-form #credentials-error {
	background: #ffefef;
	padding: 5px;
	border-radius: 5px;
	border: solid 1px #ffdede;
	color: #3D3D3D;
	margin-bottom: 30px;
}

#login-form input:not(input[type="submit"]) {
	margin-bottom: 40px;
}

#login-form label,
#login-form #password-reset {
	font-family: "Work Sans";
	color: #3D3D3D;
	font-size: 14px;
	font-weight: 500;
}

#login-form #password-reset {
	margin-top: 30px;
}