<div id="upload-container" class="pointer fullw">
    <input type="file" accept=".png,.jpg,.jpeg" class="hidden">
    <div id="filepicker-content" class="flexbox col fullw fullh">
        <i class="fa-regular fa-image"></i>
        <button>+ Ajouter photo</button>
        <p class="tips">jpg, png : 4mo max</p>
    </div>
</div>
<div class="input title flexbox col fullw">
    <label for="title" class="fullw">Titre</label>
    <input type="text" id="title">
</div>
<div class="input category flexbox col fullw">
    <label for="category" class="fullw">Catégorie</label>
    <select id="category"></select>
</div>